<div class="container">
  <form #usuarioForm="ngForm" (ngSubmit)="salvar(usuarioForm)" autocomplete="off">
    <div class="p-grid body p-pt-4">
      <div class="p-col-12">
        <p-panel header="Novo coletor">
          <div class="p-grid">
            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input id="inputRazaoSocial" pInputText type="text" name="razaoSocial" [(ngModel)]="coletor.razaoSocial"
                  #razaoSocial="ngModel" required minlength="3" maxlength="255">
                <label for="inputRazaoSocial">Razão social</label>
              </span>
              <app-message [control]="razaoSocial" error="required" text="Informe uma razão social">
              </app-message>
              <app-message [control]="razaoSocial" error="minlength"
                text="Mínimo de {{ razaoSocial.errors?.minlength?.requiredLength }} caracteres"></app-message>
              <app-message [control]="razaoSocial" error="maxlength"
                text="Máximo de {{ razaoSocial.errors?.maxlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input pInputText type="text" name="nomeFantasia" #nomeFantasia="ngModel"
                  [(ngModel)]="coletor.nomeFantasia" maxlength="255">
                <label>Nome Fantasia</label>
              </span>
              <app-message [control]="nomeFantasia" error="maxlength"
                text="Máximo de {{ nomeFantasia.errors?.maxlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="form-group p-col-6 p-md-3 p-fluid">
              <span class="p-float-label">
                <p-inputMask mask="99.999.999/9999-99" required name="cnpj" [(ngModel)]="coletor.cnpj" #cnpj="ngModel">
                </p-inputMask>
                <label>CNPJ</label>
              </span>
              <app-message [control]="cnpj" error="required" text="Informe um CNPJ"></app-message>
            </div>

            <div class="form-group p-col-6 p-md-3 p-fluid">
              <span class="p-float-label">
                <p-inputMask mask="999.99999-99" name="inscricaoEstadual" [(ngModel)]="coletor.inscricaoEstadual"
                  #inscricaoEstadual="ngModel">
                </p-inputMask>
                <label>Inscrição Estadual</label>
              </span>
            </div>

            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input pInputText type="text" name="emailColetor" #emailColetor="ngModel" [(ngModel)]="coletor.email"
                  required email autocomplete="off" />
                <label>Email</label>
              </span>
              <app-message [control]="emailColetor" error="required" text="Informe o e-mail do usuário"></app-message>
              <app-message [control]="emailColetor" error="email" text="Informe um e-mail válido"></app-message>
            </div>

            <div class="form-group p-col-6 p-md-3 p-fluid">
              <span class="p-float-label">
                <p-inputMask (onBlur)="carregarEnderecoViaCep($event)" mask="99.999-999" required name="cep"
                  [(ngModel)]="coletor.endereco.cep" #cep="ngModel">
                </p-inputMask>
                <label>CEP</label>
              </span>
              <app-message [control]="cep" error="required" text="Informe um cep"></app-message>
              <app-message [control]="cep" error="minlength"
                text="Mínimo de {{ cep.errors?.minlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="form-group p-col-6 p-md-3 p-fluid">
              <span class="p-float-label">
                <input pInputText type="text" name="numero" #numero="ngModel" [(ngModel)]="coletor.endereco.numero"
                  required minlength="1" maxlength="5">
                <label>Número</label>
              </span>
              <app-message [control]="numero" error="required" text="Informe um número"></app-message>
              <app-message [control]="numero" error="minlength"
                text="Mínimo de {{ numero.errors?.minlength?.requiredLength }} caracteres"></app-message>
              <app-message [control]="numero" error="maxlength"
                text="Máximo de {{ numero.errors?.maxlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input pInputText type="text" name="telefone" #telefone="ngModel" [(ngModel)]="coletor.telefone"
                  required minlength="11" maxlength="15">
                <label>Telefone</label>
              </span>
              <app-message [control]="telefone" error="required" text="Informe um telefone"></app-message>
              <app-message [control]="telefone" error="minlength"
                text="Mínimo de {{ telefone.errors?.minlength?.requiredLength }} caracteres"></app-message>
              <app-message [control]="telefone" error="maxlength"
                text="Máximo de {{ telefone.errors?.maxlength?.requiredLength }} caracteres"></app-message>
            </div>

            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input type="password" pInputText name="senhaColetor" #senhaColetor="ngModel"
                  [(ngModel)]="coletor.senha" required autocomplete="off" />
                <label>Senha</label>
              </span>
              <app-message [control]="senhaColetor" error="required" text="Informe a senha do usuário"></app-message>
            </div>

            <div class="form-group p-col-12 p-md-6 p-fluid">
              <span class="p-float-label">
                <input type="password" pInputText name="confirmarSenha" #confirmaSenha="ngModel"
                  [(ngModel)]="confirmarSenha" required (keyup)="validaConfirmaSenha($event);" />
                <label>Confirmar senha</label>
              </span>
              <small *ngIf="senhaDiferente  && confirmaSenha.dirty" class="p-invalid">As senhas não coincidem.</small>
              <app-message [control]="confirmaSenha" error="required" text="Confirme a senha do usuário">
              </app-message>
            </div>
          </div>
        </p-panel>
      </div>
    </div>


    <div class="p-col-12 ">
      <button class="p-button-success p-mr-3" pButton type="submit" label="Cadastrar" [disabled]="!usuarioForm.valid"
        pTooltip="Salvar" tooltipPosition="top"></button>
      <button routerLink="/login" pButton label="Voltar" class="p-button-raised p-button-secondary"></button>
    </div>
  </form>
</div>
