<p-dialog header="Percurso de coleta" [(visible)]="display" styleClass="mydialog">
  <agm-map [latitude]="lat" [longitude]="lng">
    <agm-direction [origin]="origin" [destination]="destination" [waypoints]="waypoints"></agm-direction>
  </agm-map>
</p-dialog>

<div class="container">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="pesquisar()">
    <div class="p-grid body p-pt-4">
      <div class="p-col-12">
        <p-panel header="Filtros">
          <div class="p-grid">
            <div class="p-col-12 p-md-6 p-fluid">
              <label class="p-col-12">Situação</label>
              <div class="p-formgroup-inline">
                <div *ngFor="let item of status" class="p-field-checkbox">
                  <p-checkbox name="groupStatus" value="item" [value]="item" [(ngModel)]="filter.situacao"
                    [inputId]="item"></p-checkbox>
                  <label [for]="item">{{item}}</label>
                </div>
              </div>
            </div>

            <div class="p-col-6">
              <label style="display: block">Data Prevista</label>
              <p-calendar name="dataInicio" dateFormat="dd/mm/yy" [(ngModel)]="filter.dataInicio"></p-calendar>
              <label> até </label>
              <p-calendar name="dataFim" dateFormat="dd/mm/yy" [(ngModel)]="filter.dataFim"></p-calendar>
            </div>

            <div class="p-col-12">
              <button pButton type="submit" label="Pesquisar" class="p-button-raised p-button-primary p-mr-2"></button>
              <button pButton type="button" label="Limpar Filtro" (click)="limparFiltro()"
                class="p-button-raised p-button-secondary p-mr-2"></button>
              <button routerLink="/nova" pButton type="button" label="Nova Coleta"
                class="p-button-raised p-button-success"><a href="javascript:;"></a></button>
            </div>
          </div>
        </p-panel>
      </div>
    </div>
  </form>

  <!-- ======================================================================================================= -->
  <div class="p-grid">
    <div class="p-col-12">
      <p-panel header="Resultado da pesquisa">
        <div class="p-col-12">
          <p-table styleClass="p-datatable-responsive-demo" [value]="coletas" [responsive]="true" [responsive]="true"
            [showCurrentPageReport]="true" [paginator]="true" [rows]="filter.itensPorPagina" [lazy]="true"
            [totalRecords]="totalRegistros" [rowsPerPageOptions]="[5,10,25,50]" (onLazyLoad)="aoMudarPagina($event)"
            #tabela>
            <ng-template pTemplate="header">
              <tr>
                <th>Ações</th>
                <th>Qtd. Solicitações</th>
                <th>Data Prevista</th>
                <th>Situação</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-coleta>
              <tr>
                <td>
                  <a class="p-button-rounded  p-button-success p-mr-1" pButton icon="pi pi-pencil" pTooltip="Editar"
                    tooltipPosition="top" [routerLink]="['/nova', coleta.id]"></a>

                  <button class="p-button-rounded  p-button-danger p-mr-1" pButton icon="pi pi-trash" pTooltip="Excluir"
                    tooltipPosition="top" (click)="confirmarExclusao(coleta)"></button>

                  <a class="p-button-rounded p-mr-1" pButton icon="pi pi-th-large" pTooltip="Gerar Percurso"
                    tooltipPosition="top" (click)="gerarPercurso(coleta.id)"></a>

                  <button class="p-button-rounded p-mr-1" pButton icon="pi pi-eye" pTooltip="Visualizar Percurso"
                    tooltipPosition="top" (click)="showDialog(coleta.id)"></button>
                </td>

                <td> {{ coleta.qtdSoliticoes }}</td>
                <td> {{ coleta.dataPrevista }}</td>
                <td> {{ coleta.situacao }}</td>
              </tr>
            </ng-template>


            <ng-template pTemplate="emptymessage">
              <tr>
                <td [attr.colspan]="5">
                  Nenhuma ocorrência encontrada.
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </p-panel>
    </div>
  </div>
</div>
