<title>Login</title>
<link rel="stylesheet" href="login.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container">
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">e-Destiny</h2>
      <p class="description description-primary">O destino do seu e-lixo</p>

      <p class="description description-primary">Não é um coletor? Seja um agora</p>
      <button type="button" id="signin" class="btn btn-primary"><a routerLink="/novoColetor">Cadastro</a></button>
    </div>
    <div class="second-column">
      <label class="title title-second">Bem Vindo!</label>
      <div class="social-media">

      </div>
      <form class="form" #f="ngForm">
        <label class="label-input" for="">
          <i class="far fa-envelope icon-modify"></i>
          <input pInputText type="email" name="usuario" placeholder="E-mail" ngModel required #usuario>
        </label>
        <label class="label-input" for="">
          <i class="fas fa-lock icon-modify"></i>
          <input pInputText type="password" name="senha" placeholder="Senha" ngModel required #senha>
        </label>
        <button type="submit" [disabled]="!f.valid" class="btn btn-second"
          (click)="login(usuario.value, senha.value)">Logar</button>
      </form>
    </div>
  </div>
</div>
