<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<nav class="navbar">

  <div class="container">
    <div class="p-grid">
      <div class="p-col-12">
        <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu = !exibindoMenu"><i class="pi pi-bars"></i></a>
      </div>
    </div>
  </div>

  <ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario"  routerLinkActive="cor"><i class=" pi pi-user"></i><span class="text">Ewerton</span></li>
    <li class="navbar-menuitem" routerLinkActive="cor"><a routerLink="/nova"><i class="fas fa-list"></i><span class="text">Criar Coleta</span></a></li>
    <li class="navbar-menuitem"  routerLinkActive="cor"><a routerLink="/gerenciar"><i class="fas fa-clipboard-list"></i><span class="text">Gerenciar Coleta</span></a></li>
    <li class="navbar-menuitem"  routerLinkActive="cor" (click)="exibindoMenu = !exibindoMenu"><a href="#"><i class="fas fa-angle-left"></i><span class="text">Voltar</span></a></li>
    <li class="navbar-menuitem"  routerLinkActive="cor"><a  (click)="logout()"><i class="fas fa-sign-out-alt li"></i><span class="text">Sair</span></a></li>
  </ul>
</nav>
