<title>Login</title>
<link rel="stylesheet" href="login.component.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

<div class="container">
  <div class="content first-content">
    <div class="first-column">
      <h2 class="title title-primary">e-Destiny</h2>
      <p class="description description-primary">O destino do seu e-lixo</p>

      <p class="description description-primary">Não é um coletor? Seja um agora</p>
      <button id="signin" class="btn btn-primary"><a routerLink="/novoColetor"> Cadastro</a></button>
    </div>
    <div class="second-column">
      <label class="title title-second">Bem Vindo!</label>
      <div class="social-media">

      </div>
      <p class="description description-second">Realize sua autenticação!
        <!-- {{auth.jwtPayload |  json}} -->
      </p>
      <form class="form" #f="ngForm">
        <label class="label-input" for="">
          <i class="far fa-envelope icon-modify"></i>
          <!-- <input type="email" placeholder="Email"> -->
          <input pInputText type="email" name="usuario" placeholder="E-mail"
          ngModel required #usuario>
          <!-- <div class="cor" *ngIf="cnpj.hasError('required')&& cnpj.touched">*Informe o CNPJ</div> -->
        </label>
        <label class="label-input" for="">
          <i class="fas fa-lock icon-modify"></i>
          <!-- <input type="password" placeholder="Senha"> -->
          <input pInputText type="password" name="senha" placeholder="Senha"
          ngModel required #senha>
        </label>
        <!-- <button class="btn btn-second">Logar</button> -->
        <button  class="btn btn-second" pButton type="submit" label="Login" [disabled]="!f.valid"
          (click)="login(usuario.value, senha.value); senha.value='';" ></button>
      </form>
    </div>
  </div>
</div>
