<div class="container">
  <form autocomplete="off" #f="ngForm" (ngSubmit)="pesquisar()">
    <div class="p-grid p-mt-5">
      <div class="p-col-12">
        <p-panel header="Nova Coleta">
          <div class="p-grid ">
            <div class="p-col-6">
              <label style="display: block">Data Prevista</label>
              <p-calendar name="dtPrevista" [(ngModel)]="coleta.dtPrevista"></p-calendar>
            </div>

            <div class="p-col-12">
              <p-table styleClass="p-datatable-responsive-demo" [value]="solicitacoes" [responsive]="true"
                [responsive]="true" [showCurrentPageReport]="true" [paginator]="true" [rows]="filter.itensPorPagina"
                [lazy]="true" [totalRecords]="totalRegistros" [rowsPerPageOptions]="[5,10,25,50]"
                (onLazyLoad)="aoMudarPagina($event)" #tabela>
                <ng-template pTemplate="header">
                  <tr>
                    <th>#</th>
                    <th>Solicitante</th>
                    <th>Endereço</th>
                    <th>Qtd. Residuos</th>
                    <th>Data Solicitação</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-solicitacao>
                  <tr>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div>

      <div class="p-col-12">
        <a class="p-button-raised p-button-primary p-mr-3" pButton label="Salvar" [disabled]="f.invalid"></a>
        <button routerLink="/gerenciar" pButton type="button" label="Voltar"
          class="p-button-raised p-button-secondary"><a href="javascript:;"></a></button>
      </div>
    </div>
  </form>
</div>
